
.products-carousel {
    width: 460px;
    height: 600px;
}

.carousel-image {
    float: left;
}

.carousel-image img {
    width: 455px;
    height: 600px;
    object-fit: cover;
}

.carousel-inner {
    border-radius: 6px !important;
}
